* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  height: 200px;
  background-size: cover;
  background-position: center;
}

.one{
  background-image: url(img/box1.jpg);
}

.two {
  background-image: url(img/box2.jpg);
}

.three {
  background-image: url(img/box3.jpg);
}

.four {
  background-image: url(img/box4.jpg);
}
